<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/pure-min.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
<% include header.ejs %>
<section>
    <h3>Najbliższa sesja</h3>
    <p>Sesja taka i taka</p>
</section>
<% include footer.ejs %>
</body>
</html>
