<header class="content navbar">
    <img id="home-logo" src="/images/WM3.png" />
    <div class="pure-menu pure-menu-horizontal">
        <ul class="pure-menu-list menu-list">
            <li class="pure-menu-item"><%- link_to('Sesje i głosowania', '/sessions', {'class':'pure-menu-link menu-link'}) %></li>
            <li class="pure-menu-item"><%- link_to('Rada Wydziału', '/voters', {'class':'pure-menu-link menu-link'}) %></li>
        </ul>
        <ul class="pure-menu-list menu-list right">
            <li class="pure-menu-item"><a href="/logout" class="pure-menu-link menu-link">Wyloguj</a></li>
        </ul>
    </div>
</header>
