<header class="content">
    <a href="/">
        <img id="logo" src="/images/WM3.png">
    </a>

    <h2>
        <small>Politechnika Warszawska</small>
        <br/>Wydział Mechatroniki
    </h2>
    <h1><%= system %></h1>
</header>