<!DOCTYPE html>
<html>
<head>
    <title><%= site.title %></title>
    <link rel="stylesheet" href="/stylesheets/pure-min.css">
    <link rel="stylesheet" href="/stylesheets/mchtr-styler.css">
</head>
<body>
<% include homeheader.ejs %>
<section>
    <form class="pure-form pure-form-stacked" method="post" action="/login">
        <fieldset>
            <legend>Zaloguj się do systemu</legend>

            <label for="login">Login</label>
            <input id="login" name="login" type="text" placeholder="Login" autofocus>

            <label for="password">Hasło</label>
            <input id="password" name="password" type="password" placeholder="Hasło">

            <button type="submit" class="pure-button button-primary">Zaloguj</button>
            <a href="/signup" class="pure-button">Nie mam konta</a>
        </fieldset>
    </form>
</section>
<% include footer.ejs %>
</body>
</html>
