<!DOCTYPE html>
<html>
<head>
    <title><%= "Bardzo sesja" + ' - ' + site.title %></title>
    <link rel="stylesheet" href="/stylesheets/pure-min.css">
    <link rel="stylesheet" href="/stylesheets/mchtr-styler.css">
    <meta name="robots" content="noindex, nofollow">
</head>
<body class="screencast">
<header class="content">
    <p class="left">Posiedzenie Rady Wydziału nr 756</p>
    <p id="timer" class="right">00:35</p>
</header>
<div class="content">
    <h1 id="question">Tu będzie bardzo trudne pytanie zakończone znakiem zapytania?</h1>
</div>
<div class="content">
    <h2>Jedna odpowiedź</h2>
    <h2>Druga odpowiedź</h2>
</div>
<% include footer.ejs %>
</body>
</html>
