<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/pure-min.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
<% include header.ejs %>
<section>
    <h3>Nowa sesja</h3>
    <form class="pure-form pure-form-stacked">
        <fieldset>
            <legend>Dane</legend>

            <label for="title">Identyfikator</label>
            <input id="title" type="text" placeholder="Identyfikator">

            <label for="date">Data</label>
            <input id="date" type="date" placeholder="Data">
        </fieldset>
        <fieldset>
            <legend>Głosowania</legend>

            <label for="title">Identyfikator</label>
            <input id="title" type="text" placeholder="Identyfikator">

            <label for="date">Data</label>
            <input id="date" type="date" placeholder="Data">
        </fieldset>

    </form>
</section>
</body>
</html>
