<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/pure-min.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
<% include header.ejs %>
<section>
    <div class="action-bar">
        <button id="button-new-session" class="pure-button button-primary">Nowa sesja</button>
    </div>
    <div>
        <table class="pure-table pure-table-horizontal council-table">
            <thead>
            <tr>
                <th>Data</th>
                <th>Sesja</th>
                <th>Liczba głosowań</th>
                <th>Obecnych</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>25 marca 2015</td>
                <th>Jabadabadu</th>
                <td>8</td>
                <td>48 (95%)</td>
            </tr>
            <tr>
                <td>13 lutego 2015</td>
                <th>Olaboga</th>
                <td>13</td>
                <td>50 (100%)</td>
            </tr>
            </tbody>
        </table>
    </div>
</section>
<div id="popup-new-session" class="overlay">
    <section class="popup">
        <h3>Nowa sesja</h3>
        <form class="pure-form">
            <fieldset class="pure-group">
                <input type="text" class="pure-input-1" placeholder="Identyfikator">
                <input type="date" class="pure-input-1" placeholder="Data">
            </fieldset>

            <div class="action-bar">
                <button id="button-cancel-new-session" class="pure-button">Anuluj</button>
                <button type="submit" class="pure-button button-primary">Dodaj</button>
            </div>
        </form>
    </section>
</div>
<script src="http://zeptojs.com/zepto.min.js"></script>
<script>
    $('#button-new-session').on('click', function(e){
        $('#popup-new-session').addClass('active');
    });

    $('#button-cancel-new-session').on('click', function(e){
        $('#popup-new-session').removeClass('active');
    });
</script>
<% include footer.ejs %>
</body>
</html>
