<!DOCTYPE html>
<html>
<head>
    <title><%= site.title %></title>
    <link rel="stylesheet" href="/stylesheets/pure-min.css">
    <link rel="stylesheet" href="/stylesheets/mchtr-styler.css">
</head>
<body>
<% include homeheader.ejs %>
<section>
    <form class="pure-form pure-form-stacked" method="post" action="/signup">
        <fieldset>
            <legend>Zarejestruj się w systemie</legend>

            <label for="login">Login</label>
            <input id="login" name="login" type="text">

            <label for="password">Hasło</label>
            <input id="password" name="password" type="password">

            <label for="password2">Powtórz hasło</label>
            <input id="password2" type="password">

            <label for="security-key">Klucz uwierzytelniający</label>
            <input id="security-key" type="password">

            <button type="submit" class="pure-button button-primary">Zarejestruj</button>
        </fieldset>
    </form>
</section>
<% include footer.ejs %>
</body>
</html>
