<html>
<head>
    <style type="text/css">
        .tg  {border-collapse:collapse;border-spacing:0;margin:0px auto;}
        .tg td{font-family:Arial, sans-serif;font-size:14px;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;}
        .tg th{font-family:Arial, sans-serif;font-size:14px;font-weight:normal;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;}
    </style>
</head>
<body>
<h1>Bardzo uprawnieni</h1>
<table class="tg">

    <% for(var counter = 0; counter < authorization_full.length;counter++) { %>
    <tr>
        <td class="tg-031e">
            <%= authorization_full[counter] %>
        </td>
    </tr>
    <% } %>
</table>
<h1>Mniej bardzo uprawnieni</h1>
<ul>
    <% for(var counter2 = 0; counter2 < authorization_limited.length;counter2++) { %>
    <li><%= authorization_limited[counter2] %></li>
    <% } %>
</ul>
</body>
</html>