<html>
<head>
</head>
<body>


<h1 align="center">PROTOKÓŁ</h1>
<p align="center"><strong>Komisji Skrutacyjnej</strong></p>
<p align="center">z tajnego głosowania Rady Wydziału Mechatroniki Politechniki Warszawskiej</p>
<p>w dniu ...............................</p>

<p>w sprawie: <b></b></p>
<p>Na ................... uprawnionych do głosowania, w tym:<br/> ......................... członków Rady Wydziału,<br/> ......................... promotora/ów z zewnątrz,<br/> ......................... recenzenta/ów z zewnątrz,</p>
<p>obecnych było ............... osób, w tym:<br/> ......................... członków Rady Wydziału,<br/> ......................... promotora/ów z zewnątrz,<br/> ......................... recenzenta/ów z zewnątrz,</p>
<p>W głosowaniu udział wzięło ..................... osób uprawnionych.</p>
<p>W tej liczbie było:<br/> za wnioskiem ......osób,<br/> wstrzymało się od głosowania ......osób,<br/> przeciw wnioskowi ......osób.</p>
<p></p>
<p></p>
<p>Przewodniczący Komisji . <br/>  / imię i nazwisko / / podpis /</p>
<p></p>
<p></p>
<p>Członkowie Komisji  . <br/>  / imię i nazwisko / / podpis /</p>
<p></p>
<p></p>
<p>  . <br/>  / imię i nazwisko / / podpis /</p>
<p></p>
</body>
</html>


